---
import Greetings from '@/components/Greeting.svelte';
import Layout from '../layouts/Layout.astro';

import PlaylistItemCard from "@/components/PlaylistItemCard.astro";

import { playlists } from '@/lib/data';
---

<Layout title="Sfrutify">

    <div id="playlist-container" class="relative transition-all duration-100">

        <!-- <PageHeader /> -->

        <div class="relative z-10 p-6">

            <Greetings />

            <div class="flex flex-wrap my-5 gap-4">
                { playlists.map(playlist => <PlaylistItemCard playlist={playlist} />) }
            </div>


        </div>

        <div class="absolute inset-0 bg-gradient-to-t from-neutral-900/10 via-neutral-800/30 to-green-600"></div>
    </div>

</Layout>