---
import SideMenuItem from "@/components/SideMenuItem.astro";
import SideMenuCard from "@/components/SideMenuCard.astro";

import { playlists } from "@/lib/data";

import HomeIcon from "@/icons/Home.astro";
import SearchIcon from "@/icons/Search.astro";
import LibraryIcon from "@/icons/Library.astro";
---

<nav class="flex flex-col flex-1 gap-2 ">

    <div class="bg-neutral-900/50 rounded-lg p-2">
        <ul>

            <SideMenuItem href="/">
                <HomeIcon />
                Menu
            </SideMenuItem>

            <!-- <SideMenuItem href="/#">
                <SearchIcon />
                Search
            </SideMenuItem> -->
            
        </ul>
    </div>

    <div class="bg-neutral-900/50 rounded-lg p-2 flex-1">
        <ul>
            
            <SideMenuItem>
                <LibraryIcon />
                Library
            </SideMenuItem>

            { playlists.map(playlist => <SideMenuCard playlist={playlist} />) }

        </ul>
    </div>
    
</nav>