---
import SideMenuItem from "@/components/SideMenuItem.astro";
import SideMenuCard from '@/components/SideMenuCard.astro'
import { playlists } from "@/lib/data.d";
---

<nav class="flex flex-col flex-1 gap-2 p-2">
    <div class="bg-stone-900 rounded-lg p-2">
        <ul>

            <SideMenuItem>
                &#x1F47E; Menu
            </SideMenuItem>

            <SideMenuItem>
                &#x1F3D4; Search
            </SideMenuItem>
            
        </ul>
    </div>

    <div class="bg-stone-900 rounded-lg p-2 flex-1">
        <ul>
            
            <SideMenuItem>
                &#128536; Library
            </SideMenuItem>

            { playlists.map(playlist => <SideMenuCard playlist={playlist} />) }

        </ul>
    </div>
    
</nav>